/* features */
.features-boxes {
  text-align: center;
}

.features-boxes .box-4-col:hover {
  box-shadow: -1px 14px 32px -10px rgba(0, 0, 0, 0.61);
  background: white;
  cursor: pointer;
}
.box:hover .icons {
  background: radial-gradient(circle closest-side, rgb(137, 177, 212), var(--global-blue));
}
.features-boxes .box-4-col:hover::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: solid 45px white;
  border-right: solid 45px transparent;
  top: 100%;
  left: 0;
}
.features-boxes h3 {
  text-transform: uppercase;
  color: rgb(128, 123, 123);
  padding-top: 1rem;
}

.features-boxes .feature-description {
  color: rgb(128, 123, 123);
  padding: 1.2rem 0 3rem 0;
}

.icons {
  color: white;
  background-image: radial-gradient(circle closest-side, rgb(126, 119, 119), rgb(43, 41, 41));
  font-size: 1.2rem;
  width: calc(2vw + 30px);
  height: calc(2vw + 30px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
