/*=== HEADER STYLING ===*/
.main-header {
  background-color: rgb(73, 70, 70);
  position: relative;
  border-bottom: 1.1rem solid transparent;
  -webkit-border-image: url(../assets/Border-BG.jpg) 50 round;
  -o-border-image: url(../assets/Border-BG.jpg) 50 round;
  border-image: url(../assets/Border-BG.jpg) 50 round;
}
/* .main-header::after {
  content: "";
  display: table;
  position: absolute;
  transform: rotateY(180deg); 
  opacity: 0.5;
} */

.hero-items::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: solid 45px var(--global-blue);
  border-right: solid 45px transparent;
  top: 100%;
  left: 0;
}

.hero-items {
  display: flex;
  flex-direction: column;
  position: relative;
  /* flex-wrap: wrap;
  align-content: space-between; */
  /* justify-content: space-between; */
  /* height: 30vh; */
}
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.3rem 0;
}
.hero-image {
  flex: 1 1 300px;
  height: auto;
}

.hero-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex: 1 1 300px;
}
.hero-description h1 {
  text-transform: uppercase;
  color: rgb(233, 225, 225);
}
.hero-description p {
  font-size: calc(0.8vw + 10px);
}

.action-box {
  background-color: var(--global-blue);
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 2rem;
}
.action-box h2 {
  text-transform: uppercase;
  color: rgb(233, 225, 225);
}
